.trabalho_container{
    padding: 50px;
    box-shadow: 0px 0px 9px 3px #0066FF;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.trabalho_container:hover{
    box-shadow: 0px 0px 9px 3px #f12222;
    cursor: pointer;
}

.foto-trabalho{
    min-height: 200px;
    display:flex;
    align-items: center;
}
.foto-trabalho>img{
    width: 100%;
}

.descricao{
    text-align: center;
}

.trabalho_container h1{
    text-align: center;
}