main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

main h4{
    text-align: center;
}

.flex{
    display: flex;
}

.txt_site{

    color: white;

}

section.topo_site .flex{
    align-items: center;
    justify-content: center;
}



.topo_site{

    color: #ffff;
    font-size: 18px;
    line-height: 26px;
    margin-left: 10%;
    margin-right: 20%;
}

.img_top img{
    width: 350px;
    margin-left: 87%;
    animation: float 3s ease-in-out infinite;
}

.botao_contato button{
    padding: 10px 35px;
    font-size: 20px;
    background-color: #003cff;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    color: white;
    }
  
    .botao_contato button:hover{
    background: rgba(0,0,0,0);    
    color:white;
    box-shadow: inset 0 0 0 3px #003cff;
    }


    @keyframes float{
        0%, 100%{
            transform: translateY(0);
        }
        50%{
            transform: translateY(-30px);
        }
    }

.especialidade{
    color: #ffff;
    padding: 30px 4%;
    
}

.titulo{
color: #ffff;
font-size: 35px;
text-align: center;
}

.titulo span{
    color: #0066FF;
}

.especialidade_box{
    color: #ffff;
    padding: 40px;
    font-size: 18px
}

.h3L{
text-align: center;
}

.especialidade_box p{
text-align: center;
}

.especialidade_box img{
    width: 100px;
    margin-left: 43%;
}

